body {
  height: 100%;

  /* Background Gradientx */
  background: #3a84c3;
  background: -moz-radial-gradient(center, ellipse cover,  #3a84c3 27%, #3a8bc2 58%, #26558b 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #3a84c3 27%,#3a8bc2 58%,#26558b 100%);
  background: radial-gradient(ellipse at center,  #3a84c3 27%,#3a8bc2 58%,#26558b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a84c3', endColorstr='#26558b',GradientType=1 );
}

.box {
  width: 15px;
  height: 15px;
  background-color: black;
  float:left;
  margin: 1px;
}

#field {
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 850px;
  height:765px;
  background-color: grey;
}

/* pressed highlight just for fun */
.pressed{
  background-color: yellow;
}

.sketched {
  background-color: red;
}
